<header class="navbar">
  <div class="navbar-left">
    <span class="navbar-title">{{ pageTitle }}</span>
  </div>
  <div class="navbar-right">
    <button class="icon-btn" (click)="toggleNotifications()">🔔</button>
    <div class="user-chip">
      <div class="avatar">{{ initiales }}</div>
      <div class="user-info">
        <span class="user-name">{{ authService.getNom() }}</span>
        <span class="user-role">{{ authService.getRole() }}</span>
      </div>
    </div>
    <button class="logout-btn" (click)="logout()">Déconnexion</button>
  </div>
</header>